{% extends 'AudioApp/layout.html' %}



{% block content %}
<title>О нас</title>
<div class="features">
    <center><h1>О программе</h1></center>
    <p>Просто загрузите свой файл на страницу, выберите выходной формат и
        нажмите кнопку «Загрузить файл». Подождите немного для завершения процесса.
        Мы стараемся выполнять все наши преобразования не дольше 1-2 минут. Конвертер поддерживает
        все популярные аудио форматы, такие как MP3, MP4, OGG, WAV, FLAC, MOV, AC3 и ASF. Интерфейс очень
        прост и интуитивно понятен, не требует никаких дополнительных действий!</p>

</div>
{% endblock %}

