{% extends 'AudioApp/layout.html' %}

{% block content %}

<div class="features">
<center>
    <h3>{{title}}</h3><br>
    <p>
        Данный сайт является учебным проектом.<br>
        Сайт создавался с целью соврешнстваования навыков работы с фреймворком
        Django, некоторыми другими библиотеками и сопутствующими технологиями.<br>
        Не предназначен для коммерческого использования.
        В работе сайта возможны ошибки или баги, сайт так же может быть отключен в любое время по желанию создателя:)
        <br><br>
        Конструктивная критика приветствуется.
        <details>
        <summary><font color="green">Контакты:</font></summary>
        <a href="https://www.linkedin.com/in/aliaksandrpoliak/">LinkedIn</a>
        <br>
        <a href="https://t.me/OuT94">Telegram</a>
        </details>
    </p>

</center>
</div>

{% endblock %}
