{% extends 'AudioApp/layout.html' %}

{% load cache %}

{% block title %}Авторизация  и регистрация {% endblock %}

{% block content %}
{% cache 6000 quest %}

<div class="features">
    <br>
    <center>
    <p>
        Вы не авторизованы.
        Авторизованым пользователям доступно сохранение оригинальных и конвертированых аудоифайлов в личном кабинете.
        Файлы доступны для скачивания.
        Используйте кнопки ниже для авторизации или регистрации.
    </p>
        <br>
        <br>
    <p>
    <input type="button" class="btn btn-warning" value="Войти" onclick='location.href="{% url "login" %}"'>
    <input type="button" class="btn btn-warning" value="Регистрация" onclick='location.href="{% url "user_reg" %}"'>
    <input type="button" class="btn btn-warning" value="Остаться гостем" onclick='location.href="{% url "home" %}"'>
    </center>
    </p>
</div>

{% endcache %}
{% endblock %}