{% extends 'AudioApp/layout.html' %}
{% load static %}

{% block content %}
<title>{{title}}</title>

<div class="features">
    <center>
        <h2>{{title}}</h2>
            <p>Пароль не должен быть слишком похож на другую вашу личную информацию.
            Ваш пароль должен содержать как минимум 8 символов.
            Пароль не должен быть слишком простым и распространенным.
            Пароль не может состоять только из цифр.
            </p>
            <br>
        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
            <p>
                <label class='form-label' for="{{ f.id_for_label}}">{{f.label}}:</label>{{f}}
            </p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit", class="btn btn-warning">Изменить</button>
        </form>
    </center>
</div>
{% endblock %}