{% extends 'AudioApp/layout.html' %}
{% load static %}

{% block content %}
<title>{{title}}</title>

<div class="features">
    <center><h2>{{title}}</h2></center>
<form method="POST">
    {% csrf_token %}
    {% for f in form %}
    <p>
        <label class='form-label' for="{{ f.id_for_label}}">{{f.label}}:</label>{{f}}
    </p>
<div class="form-error">{{ f.errors }}</div>
    {% endfor %}
<center>
    <button type="submit", class="btn btn-warning">Регистрация</button>
    </center>
</form>
</div>
{% endblock %}